*, *:before, *:after {
    box-sizing: border-box;
  }
  body {
    margin: 20px;
    padding: 0;
    font-family: sans-serif;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  .clear {
    clear: both;
    content: "";
  }
  .game {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
  }
   .game-info {
    margin-bottom: 20px;
    padding: 7px;
    text-align: center;
    color: #fff;
    min-height: 100px;
    border-radius: 7px;
  }
   .info {
    display: block;
    margin-top: 15px;
  }
  .cell {
    background: #7b7b7b;
   
    float: left;
    line-height: 60px;
    height: 46px;
    text-align: center;
    width: 46px;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    margin: 2px;
  }
   .cell:focus {
    outline: none;
  }
   .hidden {
    background: #f2ecf3;
  }
   .is-flag,  .is-mine {
    color: #fc543c;
  }
  .title{
      letter-spacing: 5px;
      font-size: 3em;
  }